<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guhai.smartbuilding.mapper.ThresholdRecordMapper">
    <insert id="insert" parameterType="com.guhai.smartbuilding.entity.ThresholdRecord">
        INSERT INTO threshold_records (user_id, threshold_id, threshold_type, new_value)
        VALUES (#{userId}, #{thresholdId}, #{thresholdType}, #{newValue})
    </insert>

    <select id="selectByUserId" resultType="com.guhai.smartbuilding.entity.ThresholdRecord">
        SELECT 
            id,
            user_id as userId,
            threshold_id as thresholdId,
            threshold_type as thresholdType,
            new_value as newValue,
            create_time as createTime
        FROM threshold_records
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
    </select>

    <select id="selectByUserIdAndType" resultType="com.guhai.smartbuilding.entity.ThresholdRecord">
        SELECT 
            id,
            user_id as userId,
            threshold_id as thresholdId,
            threshold_type as thresholdType,
            new_value as newValue,
            create_time as createTime
        FROM threshold_records
        WHERE user_id = #{userId} AND threshold_type = #{thresholdType}
        ORDER BY create_time DESC
    </select>
</mapper> 