<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guhai.smartbuilding.mapper.UserMapper">
    <select id="selectByUsernameAndPassword" resultType="com.guhai.smartbuilding.entity.User">
        SELECT 
            id,
            username,
            password
        FROM user 
        WHERE username = #{username} AND password = #{password}
    </select>

    <select id="selectByUsername" resultType="com.guhai.smartbuilding.entity.User">
        SELECT 
            id,
            username,
            password
        FROM user 
        WHERE username = #{username}
    </select>

    <select id="selectById" resultType="com.guhai.smartbuilding.entity.User">
        SELECT 
            id,
            username,
            password
        FROM user 
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.guhai.smartbuilding.entity.User">
        INSERT INTO user (username, password)
        VALUES (#{username}, #{password})
    </insert>
</mapper> 